@model IEnumerable<Web2236903.Models.usuario>

<select class="form-control" id="idusuario" name="idusuario">
    @foreach (var item in Model)
    {
        <option value="@item.id">@item.nombre</option>
    }
</select>