@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>CRUD .Net 2.0</h1>
    <p class="lead">Sistema CRUD para la base de datoss Inventario</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Saber más... &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>¿Qué es?</h2>
        <p>
            En el menú de arriba, en la opcion de "CRUD" seleccione la tabla que desea gestionar.
        </p>
        <p><a class="btn btn-default" href="~/Views/Home/Index.cshtml">Aprender Más &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Acerca de Txaame</h2>
        <p>Txaame: Desarrollador junior con habilidades en HTML, CSS, JS and PHP</p>
        <p><a class="btn btn-default" href="https://www.linkedin.com/in/andres-m-9363a6186/" target="_blank">Ir a perfil de Linkedin</a></p>
        <p><a class="btn btn-default" href="https://github.com/Andrexaame" target="_blank">Ir a perfil de GitHub</a></p>
    </div>
</div>